# Windows default autosave extension
*.asv
#  Mac save
._*
*.pdf
!Loudspeaker-Design-Tool-with-Teensy-4-Code-Greneration/
Loudspeaker-Design-Tool-with-Teensy-4-Code-Greneration/*
*.txt
!script_template.txt
